body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family: Arial, sans-serif;
  }
  
  .container {
    position: relative;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  .card{
    width: 60%;
    text-align: center;
  }

  .image{
    width: 35%;
  }
    
  #escape-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin: 10px;
    background-color: #F63E3E;
    border: none;
    color:white;
  }
  #ok-btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color:#4BB543;
    color:white;
    border: none;
  }

  #ok-btn:hover {
    background-color: #4BB543;
    color: #f0f0f0;
    border-color: transparent;
  }

  
  #escape-btn:hover {
    background-color: #ff6666;
  }
  